@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: hidden;
}

.background{
    background: linear-gradient(to bottom, #000000, #0044ff);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;  
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a{
    color: #fff;
    font-size: 15px;
}

.cabeçalho-link a:hover{
    color: #0044ff;
    transition: 0.3s all;
}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #0044ff;
    color: #0044ff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    margin-right: 550px;
}

button{
    color: #0044ff;
    background: transparent;
    border: 1px solid #0044ff;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    width: 450px;
    cursor: pointer;
}

button:hover{    
    background-color: #0044ff;
    color: #fff;
    transition: 0.5s;
}

.container-text{
    padding: 150px 0 0 130px;
}

.text h3{
    color: #fff;
    font-size: 18px;
}

.text h1{
    color: #fff;
    margin-top: 22px;
}

.text span{
    color: #0044ff;
}

.text p{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}

.redes-sociais a{
    color: #0044ff;
    padding: 10px;
    margin-top: 5px;
    width: 25px;
    font-size: 50px;
}

.sobre{
    color: #0044ff;
    background: transparent;
    border: 1px solid #0044ff;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    width: 160px;
    cursor: pointer;
}


.perfil{
   width: 300px;
   height: 300px;
   margin-left: 850px;
   position: relative;
   top: -280px;
   border: 5px solid #0044ff;
   border-radius: 50%;
   object-fit: cover;
   cursor: pointer;
   box-shadow: 0 0 15px #0044ff,
               0 0 30px #0044ff,
               0 0 60px #0044ff;
}



.linkedin-logo{
    width: 60px;
    height: 60px;
}

.github-logo{
    width: 60px;
    height: 60px;
}

.whatsapp-logo{
    width: 50px;
    height: 50px;
    position: relative;
    top: -7px;
}

.curriculo-logo{
    width: 60px;
    height: 60px;
}

.email-logo{
    width: 60px;
    height: 60px;
}
